<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @pricing.price %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @pricing.vendor %>
</p>

<p>
  <strong>Product:</strong>
  <%= @pricing.product %>
</p>

<%= link_to 'Edit', edit_pricing_path(@pricing) %> |
<%= link_to 'Back', pricings_path %>
